.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.angels-landing {
  margin: 0;
  padding: 0;
  /** background image */
  background-image: url("../public//background/angelsLanding.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item-showcase {
  margin: auto;
  width: 70%;
  padding: 10px;
  height: fit-content;
  backdrop-filter: blur(6px);
  border-radius: 50px;
  padding: 2rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  height: 100%;
  overflow: scroll;
  flex-direction: column;
}

.image-kirk {
  border-radius: 50px;
  height: auto;
  width: 60%;
}

.bio-wrapper {
  width: 90%;
}

.bio {
  margin-top: 2rem;
  width: 100%;
  color: whitesmoke;
}

.grid-container {
  position: fixed;
  display: grid;
  padding: 10px;
  top: 0rem;
  left: 0rem;
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
}
.icon-image-wrapper {
  font-size: 3px;
  text-align: center;
}

.icon-img {
  height: 100%;
  width: 100%;
}
.homeWrapper {
  height: 100%;
}

.icon-container {
  margin: 1rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-label {
  color: rgb(255, 255, 255);
  font-size: x-small;
  text-align: center;
}

body {
  background-image: url("../public/background/angelsLanding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.resume-pdf {
  width: min-content;
}

.resume-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-wrapper {
  height: 2rem;
  width: 15rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  height: 2rem;
  width: 2rem;
}
