.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.angels-landing {
  margin: 0;
  padding: 0;
  /** background image */
  background-image: url("../public//background/angelsLanding.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item-showcase {
  margin: auto;
  width: 70%;
  padding: 10px;
  height: fit-content;
  backdrop-filter: blur(6px);
  border-radius: 50px;
  padding: 2rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.flex-center {
  display: flex;
  height: 100%;
  overflow: scroll;
  flex-direction: column;
}


.image-kirk {
  border-radius: 50px;
  height: auto;
  width: 60%;
}

.bio-wrapper {
  width: 90%;
}

.bio {
  margin-top: 2rem;
  width: 100%;
  color: whitesmoke;
}


.grid-container {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  top: 0rem;
  left: 0rem;
  grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.homeWrapper {
  height: 100%;
}

.icon-container {
  margin: 1rem;
  width: 3rem;
}

.item-label {
  color: rgb(255, 255, 255);
  font-size: x-small;
  text-align: center;
}

body {
  background-image: url("../public/background/angelsLanding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
