.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.angels-landing {
  margin: 0;
  padding: 0;
  /** background image */
  background-image: url("../public//background/angelsLanding.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.item-showcase {
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  height: fit-content;
  backdrop-filter: blur(6px);
  border-radius: 50px;
  padding: 2rem;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.flex-center {
  display: flex;
  height: 100%;
  overflow: scroll;
  flex-direction: column;
}


.image-kirk {
  border-radius: 50px;
  height: auto;
  width: 90%;
}

.bio-wrapper {
  width: 90%;
}

.bio {
  margin-top: 2rem;
  width: 100%;
  backdrop-filter: blur(6px);
}
